* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

button {
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  padding: 2rem 0;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  list-style: none;
  font-size: 1.5rem;
  animation: scroll 20s linear infinite;

  border: 1px dotted hotpink;
}

.marquee__item {
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  min-width: 120px;
  padding: 2rem;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
